<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>

<body>
        <%- include('../parsials/header.ejs') %>

        <%- include('../parsials/navbarafterAdmin.ejs') %>
       
    <div>
        <h2>List of Services</h2>
    </div>
    <br>
    <table>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Provider Name</th>
                <th>Shipment Type</th>
                <th>Option</th>
            </tr>
            <% for (let i=0; i<shipment.length; i++) { %>
                <tr>
                    <td><%= shipment[i].id%></td>
                    <td><%= shipment[i].Provider.name%></td>
                    <td><%= shipment[i].ShipmentType.name%></td>
                    <td><a href="/services/delete/<%=shipment[i].id%>">Delete</a></td>
                </tr>    
            <% } %>
        </tbody>
      </table><br><br>
    <div style='text-align:center'>
        <form action='/services/add' method='POST'>
            <label for='providerId'>Kode Provider: </label><br>
            <input type='text' name='providerId' required> <br><br>
            <label for='shipmentId'>Kode Layanan: </label><br>
            <input type='text' name='shipmentId' required> <br><br>
            <button type='submit'>Add</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>