
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status Report</title>
</head>
<body>
        <%- include('../parsials/header.ejs') %>
        <% if(isLogin && role === 'admin'){ %>
            <%- include('../parsials/navbarafterAdmin.ejs') %>
        <% }else if(isLogin && role !== 'admin'){ %>
            <%- include('../parsials/navbarafter.ejs') %>
        <% }else{ %>
            <%- include('../parsials/navbarbefore.ejs') %>
        <% } %>
    <div style='float: left;'>

        <h1>Status Report</h1>
        <img style="-webkit-user-select: none;width:200px;height:200px" src="https://qrickit.com/api/qr.php?d=<%= oneAWB.id %>">
        <div>
            <% console.log(oneAWB) %>
            <% for (let i = 0; i < oneAWB.Locations.length; i++){ %>
                <div>
                    <%= oneAWB.Locations[i].area %>
                    <br>
                    <%= oneAWB.Locations[i].currentLocation %>
                    <br>
                    <%= JSON.stringify(oneAWB.Locations[i].createdAt).slice(1,11) %>
                    <%= JSON.stringify(oneAWB.Locations[i].createdAt).slice(12,17) %>
                </div>
            <% } %>
        </div>
    </div>

    <div style='float: left; margin-left: 100px'>
        <% if (role === 'admin' && oneAWB.status !== 'complete'){ %>
            <h2>Update Location</h2>
            <form action='/addLocation/<%= oneAWB.id %>' method='POST'>
                <label for='currentLocation'>Current Location: </label><br>
                <input type='text' name='currentLocation' required> <br><br>
                <label for='area'>Area :  </label><br>
                <input type='text' name='area'> <br><br>
                <label for="date">Date :</label><br>
                <% var utc = new Date().toJSON().slice(0,10).replace(/-/g,'-') %>
                <input type="date" name="date" value="<%= utc %>"" ><br><br>
                <label for="time">Time : </label><br>
                <% let time = timeFormatFunction(new Date()) %>
                <% let fullDate = utc + ' ' + time %>
                <% console.log(fullDate) %>
                <input type="time" name="time" value='<%= time %>'> <br>
                <button type='submit'>Update Location</button>
                <% console.log( new Date(fullDate)) %>
            </form>
        <% }else if(oneAWB.status === 'complete'){ %>
            <h2>Shipment has been completed!</h2>
        <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>